.add_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 35px;
    line-height: 82px;
    letter-spacing: -0.02em;
  }
  .box_add {
    margin: 20px;
  }
  .blog_title {
    margin-bottom: 1% !important;
    font-family: var(--primary-font) !important;
    font-weight: 450 !important;
    font-size: 20px !important;
    letter-spacing: -0.02em !important;
    width: 100%;
  }
  .btn {
    height: 40px;
    border-radius: 40px;
    width: 100px;
    background-color: black;
    border: black;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    font-family: var(--primary-font);
  }
  .btn_post {
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
    margin-top: 10px !important;
    height: 40px;
    border-radius: 40px;
    width: 100px;
    font-weight: 700;
    font-size: 15px;
    font-family: var(--primary-font);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .btn:hover {
    text-decoration: underline;
    color: black;
    background-color: rgb(255, 217, 0);
  }
    