.postspage
{
  font-family: var(--primary-font);
}
.h1
{
    font-size:3em;
    font-weight: bolder;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.h2
{
font-size: 1em;
font-weight: bold;
display: flex;
align-content: center;
align-items: center;
justify-content: center;
margin-top: 20px;
margin-bottom: 20px;
}
.p
{
    line-height: 40px;
    justify-content: center;
    align-items: center;
}