.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 50px;
    margin-top: 5%;
    line-height: 82px;
    letter-spacing: -0.02em;
    align-items: center;
  }
  
  .description {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: var(--primary-font);
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    font-weight: 200;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
  }
  .start_title {
    font-family: var(--primary-font);
    font-weight: 800 !important;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    margin-bottom: 1% !important;
    margin-top: 2% !important;
  }
  .button_active_1 {
    height: 45px;
    width: 150px;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 700;
    border: none;
    font-family: var(--primary-font);
  }
  .button_active_1:hover {
    text-decoration: underline;
    color: black;
    background-color: rgb(255, 217, 0);
  }
  .button
  {
    display: flex;
    justify-content: center;
  }
  .row_card_1 {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:3%;
  }
  .container
  {
    margin-bottom: 10%;
  }
  .start_title_1 {
    font-family: var(--primary-font);
    margin: 3%;
    font-weight: 300 !important;
    font-size: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 1% !important;
    margin-top: 2% !important;
  }
  .button_active_2 {
    height: 45px;
    width: 250px;
    border:1px solid black !important;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 700;
    border: none;
    font-family: var(--primary-font);
  }
  .button_active_2:hover {
    text-decoration: underline;
    color: black;
    background-color: rgb(255, 217, 0);
    transition: 0.5s;
    border:none !important;
  }
  .button
  {
    margin-top: 3%;
    display: flex;
    justify-content: center;
  }