.h1_landing_1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 55px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    line-height: 70px;
  }
  .row_card_1 {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 700px) {
    .h1_landing_1{
        font-size: 35px;
      }
  }