.box_1 {
    justify-content: flex-start !important;
    padding-top: 0.4% !important;
    gap: 20px;
  }
  
  .appbar {
    background: var(--text-card) !important;
    font-family: var(--primary-font) !important;
    box-shadow: none !important;
  }
  
  .company_button {
    color: black !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    font-family: var(--primary-font) !important;
  }
  .company_button:hover{
    text-decoration: underline;
    background-color: rgb(255, 217, 0) !important;
  }
  .company {
    font-family: var(--primary-font) !important;
    color: black !important;
    font-size:x-large;
  }
  .company:hover{
    text-decoration: underline;
  }
  .button_active_1 {
    height: 45px;
    width: 150px;
    margin-left: 60px;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 700;
    border: none;
    font-family: var(--primary-font);
  }
  .button_active_1:hover {
  
    text-decoration: underline;
    color: black;
    background-color: rgb(255, 217, 0) !important;
  }
  @media (max-width: 700px) {
    .button_active_1
    {
      display: none;
    }
  }