/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Work Sans";
  --tertiary-font: "Poppins";
  background-color: white;
  --text-card: #ffffff;
  --text-main: #333333;
  --a-color:black;
}

.cookie_message {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-radius: 10px;
  padding: 15px 0;
  background: #f7f8fb;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 0 16px 2px rgba(0,0,0,.05), 0 10px 10px 2px rgba(0,0,0,.05);
  font-size: 12px;
  line-height: 40px;
  border-top: 1px solid #e4e4e4;
  color:black;
  position: fixed;
  z-index: 100;
  bottom: 10%;
  right: 2%;
  margin: auto;
  max-width: 540px;
  display: -ms-flexbox;
  display: flex;
}
.cookie_message img {
  height: 50px;
  width: 50px;
  margin: 0 15px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.cookie_message span {
  display: inline-block;
  line-height: 1.5;
  padding-right: 16px;
  border-right: 1px solid rgba(0,0,0,.1);
}
.cookie_message a.close {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: none ;
  font-size: 24px;
  padding: 0 20px 0 16px;
  position: relative;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #919191 !important;
  transition: color 0.2s;
}
.cookie_message a.close:hover { color: #795548; }
.close
{
  border: none;
  background: transparent;
  cursor: pointer;
  color: #000;
}
.close_1
{
  display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .button_active-1 {
    display: none;
  }
  .company-button-1 {
    display: none !important;
  }
  .box-2 {
    flex-grow: 0;
  }
}








.row-card-2 {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}







