.card {
    width: 300px;
    height: 300px;
    padding: 5px;
    filter: grayscale(0.8);
    transition: 0.5s ease;
    cursor: pointer;
    }
    .card_img {
        width: 300px;
        height: 300px;
        }
  .text {
    color:white;
    font-size: 17px;
    margin-top: 3%;
    display: none;
    text-align: center;
    font-weight: 500;
    font-family: var(--primary-font);
  }
  .head
  {
    color:white;
    font-size: 25px;
    margin-top: -30%;
    display: none;
    font-weight: 750;
    font-family: var(--primary-font);
    text-align: center;
  }
  .card:hover{
    filter: grayscale(0);
    transform:scale(1.05)
  }
  .card:hover .head {
    display: block;
  }
  .card:hover .text {
    display: block;
  }